

body{
  background-color: rgb(230, 230, 230);
}

.header{
  background-color: black;
  width: 100%;
  padding: 10px;
  box-shadow: 5px 10px 8px -6px #4285F4;

}

.header-text{
  font-size: 100px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-family: dhurjati;
  color: #4285F4;
  text-shadow: 2px 1px rgb(6, 49, 56);
}

.instructions{
  color: gray;
}
.error-message{
  color: red;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.form-container{
  width: 50%;
  margin: 60px auto;
}


.google-search-form {
  text-align: center;
}

.google-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.results-text{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
}


.search-group {
  display: flex;
  align-items: center;
}

.search-input {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 10px;
  width: 400px;
  margin-right: 10px;
}

.search-button {
  border-radius: 24px;
  padding: 10px 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #4285F4;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
  font-family: dhurjati;
}
